@charset "utf-8";

@import url("layout.css");							/* 레이아웃 요소 */
@import url("board.css");							/* 게시판 목록, 상세, 쓰기 요소 */
@import url("common.css");						/* 일반 공통 요소 */
@import url("common_2020.css");				/* 일반 공통 요소_2020년 추가 */
@import url("common_respon_2020.css");	/* 반응형 */
@import url("popup.css");						    /* 팝업 관련 요소 */
@import url("etc.css");								/* 기타 요소 */
@import url("xeicon.css");						/* 아이콘 */
@import url("modal.css");						    /* 모달 */





/* 기본설정 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {margin:0; padding:0;}
html,body												{ height:100%; font-family: nbgM, nsM, Dotum, play, sans-serif; color:#333; line-height:18px; padding:0; margin:0; /* overflow:hidden; */}
body{background: #282c3b }
body.bg-w{ background: #fff}
html{font-size:16px;}

@media (max-width: 1500px) {
	html{font-size:16px;}
}
@media (max-width: 1200px) {
	html{font-size:14px;}
}

div, table												{ padding:0; margin:0; }
table														{table-layou:fixed; border-spacing:0; border-collapse:separate; display:table;}
input														{ vertical-align:middle; border:1px solid #CCC; }
select													{ vertical-align:middle; }
img, fieldset											{ border:0; }
img														{ vertical-align:middle; }
ul, ol														{ list-style:none; }
a:link, a:visited, a:active, a:hover				{ text-decoration:none; }
hr															{ display:none; }

button													{ border:none; cursor:pointer; }
.hidden, caption										{ position:absolute; overflow:hidden; visibility:hidden; width:0; height:0; left:0; top:0; font-size:0; line-height:0; padding:0; margin:0; }



#skip li													{ float:left; position:absolute; display:block; width:100%; top:-60px; z-index:9900; }
#skip a													{ overflow:hidden; width:1px; height:1px; font:16px nsM; color:#FFF; text-align:center; margin-bottom:-1px; white-space:nowrap; }
#skip a:focus, #skip a:active					{ position:absolute; width:100%; height:20px; top:60px; color:#FFF; background:#183172; padding:12px 0; }



input[placeholder]::-webkit-input-placeholder, textarea[placeholder]::-webkit-input-placeholder{color:#c4c4c4;}
input[placeholder]:-moz-placeholder, textarea[placeholder]:-moz-placeholder{color:#c4c4c4;}
input[placeholder]::-moz-placeholder, textarea[placeholder]::-moz-placeholder{color:#c4c4c4;}
input[placeholder]:-ms-input-placeholder, textarea[placeholder]:-ms-input-placeholder{color:#c4c4c4;}
input[placeholder].placeholder, textarea[placeholder].placeholder{color:#c4c4c4;}
input[type="number"] ,
input[type="text"] ,
input[type="password"] ,
select{min-height:35px;padding:0 8px;border:1px solid #E1E1E1;vertical-align:middle; font-weight:300; font:15px nbgM, nsM, Dotum, play, sans-serif;}
textarea{display:block;width:100%;padding:15px;resize:none;border:1px solid #E1E1E1;font-family: nbgM, nsM, Dotum, play, sans-serif !important; font-size:15px !important; line-height:20px;}
input[type="radio"] , input[type="checkbox"]{position:relative; top:-1px; vertical-align:middle; width:16px; height:16px;}

.ellipsis {white-space: nowrap;overflow: hidden;}
.ellipsis.multiline {white-space: normal;}

.clearfix{clear: both;}
.clearfix::after { display: block; clear: both; content: "";}

.sr-only {position: absolute;width: 1px;height: 1px;padding: 0;overflow: hidden; clip: rect(0,0,0,0);white-space: nowrap;-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;}
