@charset "utf-8";
/* ===[ Header ]===
   ==================================================
   ================================================== */
#main-wrapper #header { position:absolute; width:100%;left:0; top:0;z-index:9; background: rgba(0,0,0,0.25); height:100px;}
#main-wrapper .logo h1 {position:relative; display:block; height:56px; width:171px;  margin: 0 auto}
#main-wrapper .logo h1 img {height:56px; margin-top:24px;}
#main-wrapper #header .main-header .bookmark{position:absolute; left:0; top:25px;  display:block;}
#main-wrapper #header .main-header .bookmark a{color:#fff; border:1px solid #838383; padding:10px 15px; display:block;}
#main-wrapper #header .main-header .bookmark a i{color:#ffc728;}

/* ===[ Main Content ]===
   ==================================================
   ================================================== */
#main-wrapper { position:relative; width:100%; height:100%; overflow-x: hidden;  z-index: 3; background:#fff url(/images/oklms/std/main_2020/main-img1.jpg) no-repeat; background-size:cover;}
#main-wrapper:after { content:""; display:block; clear:both; }
#main-wrapper .container {position:relative; margin-right: auto; margin-left: auto; width:1140px;}

#main {background:transparent; background-size: cover; background-attachment:fixed; position:relative; padding-top: 220px; padding-bottom: 40px;}
#main .box-container {position: relative; overflow: initial; border-radius: 0px;  z-index: 1; display: table; table-layout: fixed!important; width: 100%;}
#main .box-container2 {position: relative; overflow: initial; border-radius: 0px;  z-index: 1; display: inline-block; width: 100%;}

.box-cell, .box-cell>* { position: relative;}
.box-cell[class*=" col-lg-"], .box-cell[class^=col-lg-] {display: table-cell;}
.box-cell-left{float:left;}

.sound-only { font-size: 0px; width: 0px; height: 0px; text-indent: -999px; overflow: hidden;  padding: 0;  margin: 0;}

#main1 { padding-bottom: 80px; }
#main1 .box-cell, #main2 .box-cell {vertical-align:top;}
#main1 .box-cell.slogan {width:500px; }
#main1 .slogan div.h1 {font-family:nsM; font-size: 36px; color: #fff;  font-weight: 500 !important; line-height:45px; width:100%; padding:0; margin:15px 0 10px 0; display:block; letter-spacing: -0.05em;}
#main1 .slogan div.h1 span{display:block; color:#fff000} 
#main1 .slogan div.slogan-text{font-size:18px; font-weight: 400 !important; line-height:24px;  color: #fff;}
#main1 .btn-outline{position: relative; background-color: transparent; border-width: 2px; border-color: rgba(255,255,255,0.8); color: #fff; padding-left:50px; font-size:16px;}
#main1 .btn-outline:before{position:absolute; display:block; content: "\ea83"; top:4px; left:20px;  font-family: 'xeicon'; font-size:24px;  font-weight: 300 !important;}
#main1 .btn-outline i{padding-left:30px; font-size:18px; }

#main-login{padding:0;margin:0;background-color:rgba(0,0,0,0.65); width:400px; height:380px; padding:45px 40px;}
#main-login .login-area h2{ color:#fff; text-align:center; font-size:24px; display:block; margin-bottom:20px;}
#main-login .login-area .form-group {margin-right: 0; margin-left: 0; padding-top: 10px;}
#main-login .login-area .form-group .form-control { height: 45px; width: 100%; padding: 4px 12px; background-color: #fff; border: 1px solid #c8c8c8;}
#main-login .login-area .btn{width:100%; margin-top:10px; background-color:#eb6400; color:#fff; border-radius: 0;font-size:18px; cursor:pointer}
#main-login .search-btn-box{font-size: 16px; text-align: center; color:#fff;}
#main-login .search-btn-box .btn-box1{ border-bottom:1px solid #505251; padding:15px 0;}
#main-login .search-btn-box .btn-box1 label{display:inline-block; padding:0 10px;}
#main-login .search-btn-box .btn-box2{padding:15px 0 0 0;}
#main-login .search-btn-box .btn-box2 a{color:#fff; display:inline-block; padding:0 10px;}

#main2 .box-cell-left{padding:30px; width:340px; height:230px; overflow-y: auto;}
#main2 .box-cell-left h2{position: relative; font-size:20px; margin-bottom:15px;}
#main2 .box-cell-left h2 .btn-more{position:absolute; right:0; top:0}
#main2 .box-cell-left h2 .btn-more a{color:#666; font-size:23px; line-height:1}
#main2 .box-cell-left h2 .btn-more.fw a{color:#fff; font-size:23px; line-height:1}

.box-cell-left.bg-white{background-color: #fff;}
.box-cell-left.bg-blue{background-color: #3b62e3;}
.box-cell-left.bg-mint{background-color: #029195;}

#main2 .box-cell-left,
#main-news.box-cell-left {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.5) rgba(0,0,0,0.03);
}

#main2 .box-cell-left::-webkit-scrollbar,
#main-news.box-cell-left::-webkit-scrollbar {
  width: 7px;
}

#main2 .box-cell-left::-webkit-scrollbar-track,
#main-news.box-cell-left::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.03);
}

#main2 .box-cell-left::-webkit-scrollbar-thumb,
#main-news.box-cell-left::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
}

#main2 .box-cell-left::-webkit-scrollbar-button,
#main-news.box-cell-left::-webkit-scrollbar-button {
  background-color: transparent !important;
  box-shadow: none !important;
}

#main2 .box-cell-left::-webkit-scrollbar-button:hover,
#main-news.box-cell-left::-webkit-scrollbar-button:hover,
#main2 .box-cell-left::-webkit-scrollbar-button:active,
#main-news.box-cell-left::-webkit-scrollbar-button:active {
  background-color: transparent !important;
  box-shadow: none !important;
  filter: none !important;
}

#main2 .box-cell-left:hover::-webkit-scrollbar-thumb,
#main-news.box-cell-left:hover::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.8);
}

#main-news.box-cell-left{position: relative;  width:460px !important; overflow-y: auto;}
#main-news .list-group{margin: 0; padding-left: 0; width: 100%;}
#main-news .list-group-item {font-weight: 300; padding: 0; position: relative; display: block; padding-left:10px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
#main-news .list-group-item:before {position:absolute; display:block; content: ""; top:14px; left:0; width:2px; height:2px; background-color:#666;}
#main-news .list-group-item a {display: block;  padding: 5px 0; color:#666;}
#main-news .list-group-item a:hover {color: rgb(255,63,25) !important;}

#schedule h2 {color:#fff;}
#schedule .list-group{margin: 0; padding-left: 0; width: 100%;}
#schedule .list-group-item {font-weight: 300; padding: 0; position: relative; display: block; padding-left:10px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
#schedule .list-group-item:before {position:absolute; display:block; content: ""; top:14px; left:0; width:2px; height:2px; background-color:#fff;}
#schedule .list-group-item a {display: block;  padding: 5px 0; color:#fff;}
#schedule .list-group-item a:hover {color: #fff;}

#popupzone .popup-area { position:relative;}
#popupzone .popup-area h2 {color:#fff;}
#popupzone .popup-area .pop-img {width:300px; height:125px; }
#popupzone .popup-area .pop-img p { display:none; }
#popupzone .popup-area .pop-img img { width:100%;}

#popupzone .popup-area .pop-btn { position:absolute; width:75px; height:24px; right:0; top:-3px;}
#popupzone .popup-area .pop-btn span { float:left; width:24px; height:24px; border-right:1px solid #E9E9E9; }
#popupzone .popup-area .pop-btn span.prev { background:url("/images/oklms/std/main/main_popup_pre.png") no-repeat; }
#popupzone .popup-area .pop-btn span.stop { background:url("/images/oklms/std/main/main_popup_stop.png") no-repeat; }
#popupzone .popup-area .pop-btn span.play { background:url("/images/oklms/std/main/main_popup_play.png") no-repeat; }
#popupzone .popup-area .pop-btn span.next { background:url("/images/oklms/std/main/main_popup_next.png") no-repeat; }
#popupzone .popup-area .pop-btn span a { display:block; overflow:hidden; width:24px; height:24px; text-indent:-9999px; }


#main-icon{background-color: #f4f5f5; padding:40px 0;}
#main-icon .quick-area {}
#main-icon .item{display: table-cell; float: left; width: 16.666%; text-align:center;}
#main-icon .item a {display: block; padding-bottom: 20px;}
#main-icon .item a .icon-item{display: block; width:150px; height:150px; background-color: #fff; border-radius: 99999px!important; margin:0 auto; text-align:center;vertical-align:middle;}
#main-icon .item a  .icon-item img {display: block; margin: 0 !important; max-width: none; }
#main-icon .item a p{font-size:18px; color:#222;}

#main-link{margin-top:40px;}
#main-link ul{}
#main-link ul li{display:block; float: left; width: 25%; text-align:center; background-color:#fff; border-right:1px solid #ededed;}
#main-link ul li:last-child{border-right:0}
#main-link ul li a {display: block; padding: 8px 0;}
#main-link ul li a img{height:50px;}

#main-wrapper #main-footer{background: #f4f5f5; border: none; z-index: 3; position: relative;padding: 40px 0; background-color: rgb(45,45,46) !important; }
#main-wrapper #main-footer p{color:#818182; font-size:14px; line-height:24px; display:block; padding-bottom:10px;}
#main-wrapper #main-footer copyright{color:#818182; font-size:14px}
#main-wrapper #main-footer .privacy{float: right !important;}
#main-wrapper #main-footer .privacy a{background-color: transparent; border-style: solid; border-width: 1px; border-color:#838383; color: #fff; padding:10px 15px;}


@media (max-width: 1200px) {
	#main-wrapper .container{width:100%; padding:0 20px}
	#main2 .box-cell-left{width:33.333%;}
	#main-news.box-cell-left{width:33.333% !important;}
}

@media (max-width: 1000px) {
	.box-cell[class*=" col-md-"], .box-cell[class*=" col-lg-"], .box-cell[class*=" col-xl-"], .box-cell[class*=" col-sm-"], .box-cell[class^=col-md-], .box-cell[class^=col-lg-], .box-cell[class^=col-xl-], .box-cell[class^=col-sm-] {
	    display: block;
	}

	#main {padding-top: 180px;}
	
	#main1 { padding-bottom: 0px; }
	#main1 .box-cell, #main2 .box-cell {vertical-align:top;}
	#main1 .box-cell.slogan {width:100%; text-align:center;}
	#main1 .slogan div.h1 {text-align:center; font-size:30px}

	#main-login{display: block; margin:0; margin-top:30px; width:100%; height:380px;}
	
	#main2 .box-cell-left{width:50%;}
	#main-news.box-cell-left{width:100% !important;}

	#main-icon .item{width: 33.333%;}
	#main-icon .item a p{ padding-bottom: 20px; font-size:15px;}

	#main-link ul li a img{max-width:100%; height:30px;}
	
	#main-wrapper #main-footer p{color:#818182; font-size:13px; line-height:24px; display:block; padding-bottom:10px;}
	#main-wrapper #main-footer copyright{color:#818182; font-size:13px}
	#main-wrapper #main-footer .privacy{float: none !important; clear:both; height:40px;}
}

 @media (max-width: 768px) {
 	#main-login .search-btn-box{font-size: 15px;}
 	
 	#main1 .slogan div.h1 {font-size:24px; line-height: 30px;}
 	#main1 .slogan div.slogan-text{font-size:16px; line-height:20px;}
 	#main-login {height:auto; padding:40px 30px;}
 	
 	.box-cell-left{float:none; dispaly:block}
 	#main2 .box-cell-left{width:100%;}
 	#main2 .box-cell-left h2{font-size:18px;}
 	
 	#main-link{margin-top:0px;}
	#main-link ul li{width: 50%; border:1px solid #ededed; margin-left:-1px; margin-bottom:-1px}
	#main-link ul li:last-child{border-right:1px solid #ededed}
}

@media (max-width: 540px) {
 	#main {padding-top: 150px;}
 	#main-wrapper #header .main-header .bookmark{display:none;}
 	
 	#main-icon .item{width: 50%;}
	#main-icon .item a p{ padding-bottom: 10px;}
}

 @media (max-width: 380px) {
 	#main1 .slogan div img{max-width: none; width: 80%;}
 	#main-login {padding: 20px;}
 	#main-login .login-area h2 { margin-bottom: 5px; font-size:20px}
 	
 	#main-icon .item a .icon-item{width:120px; height:120px;}
	#main-icon .item a  .icon-item img {max-width: none; width: 100%;}
}